<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" cootent="text/html; charset=UTF-9"/>
</head>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>
    $(document).ready(function() {

    });

    //목록조회
    function findList() {

    }

    //상세조회
    function findDetail() {

    }

    //등록
    function registerCustom() {

    }

    //삭제
    function deleteCustom() {

    }

    //수정
    function modifyCustom() {

    }

    //입력값 리셋
    function resetInputVlaue() {

    }
</script>

